.main-contacto {

    .textoPrincipal {
        font-size: 50px;
        margin: 35px 0px;
        font-weight: bold;
        color: #002F6C;
        text-align: center;
    }

    .contenedor {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        .formulario {


            form {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 567px;
                padding: 10px 20px;
                margin: 10px 0px;

                input {
                    width: 100%;
                    margin-bottom: 20px;
                    padding: 14px;
                    font-size: 17px;
                    border: none;

                }

                .boton {
                    background-color: black;
                    color: #ffffff;
                    padding: 20px;
                    margin-top: 15px;

                    &:hover {
                        cursor: pointer;
                    }
                }


            }
        }
    }

}