.main-index {

    nav .migaDePan li {
        font-size: 20px;
        font-weight: bold;
        margin: 0px 10px;
    }


    .textoPrincipal {
        font-size: 50px;
        margin: 35px 0px;
        font-weight: bold;
        color: #002F6C;
        text-align: center;
    }

    .parrafoPrincipal {

        font-size: 20px;
        text-align: center;
    }

    .contenedorSecciones {
        .seccionPiscinas {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            .piscina1 {
                img {
                    width: 300px;
                    margin: 15px 0px;
                    border-radius: 2%;

                    &:hover {
                        transform: scale(1.1) translate(5px, 5px);
                        transition: .3s;
                        border-radius: 2%;
                    }
                }

                .contenidoPiscinas {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        font-size: 20px;
                        margin: 10px 0px;
                        color: black;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 33px;
                    }
                }
            }

            .piscina2 {
                img {
                    width: 300px;
                    margin: 15px 0px;
                    border-radius: 2%;

                    &:hover {
                        transform: scale(1.1) translate(5px, 5px);
                        transition: .3s;
                        border-radius: 2%;
                    }
                }

                .contenidoPiscinas {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        font-size: 20px;
                        margin: 10px 0px;
                        color: black;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 33px;
                    }
                }
            }

            .piscina3 {
                img {
                    width: 300px;
                    margin: 15px 0px;
                    border-radius: 2%;

                    &:hover {
                        transform: scale(1.1) translate(5px, 5px);
                        transition: .3s;
                        border-radius: 2%;
                    }
                }

                .contenidoPiscinas {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        font-size: 20px;
                        margin: 10px 0px;
                        color: black;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 33px;
                    }
                }

            }
        }
    }

    .seccion2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;

        .contenido {
            max-width: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;

            h2 {
                margin: 15px 0px;
                font-size: 40px;
                color: #002F6C;
            }

            a {
                text-decoration: none;
                background-color: red;
                color: white;
                padding: 20px;
                border-radius: 7%;
                margin: 15px 0px;
            }
        }
    }

    // .contenido {
    //     display: flex;
    //     justify-content: center;

    //     .contenidoExtra {
    //         display: flex;
    //         flex-direction: column;
    //         max-width: 800px;
    //         padding-right: 15px;
    //         padding-left: 15px;
    //         height: 456px;

    //         .titulo {
    //             color: #002F6C;
    //             margin: 18px 0px;
    //             font-size: 28px;
    //             text-align: center;
    //         }

    //         a {
    //             text-decoration: none;
    //             background-color: red;
    //             color: white;
    //             padding: 20px;
    //             border-radius: 7%;
    //             margin: 15px 0px;
    //             text-align: center;
    //         }
    //     }


    // }
}