@media (max-width : 900px) {
    .main-accesorios {
        .contenedorAccesorios {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    header {
        nav {
            .container-fluid {
                flex-direction: row;
            }
        }
    }
}



@media (max-width : 567px) {
    footer {
        ul {
            max-width: 100%;
        }
    }

    header {

        a {
            img {
                width: 150px;
                margin: 0px 25px;
            }
        }

        nav {
            max-width: 100%;
        }
    }

    .textoPrincipal {
        font-size: 30px !important;
    }

    // Pagina principal
    .main-index {
        .contenedorSecciones {
            .seccionPiscinas {

                .piscina1,
                .piscina2,
                .piscina3 img {
                    max-width: 100%;

                    &:hover {
                        transform: none;
                        transition: none;
                    }
                }

            }

        }
    }

    // Contacto
    .main-contacto {
        .contenedor {
            .formulario {
                form {
                    width: 100%;
                }
            }
        }

    }

    h3 {
        font-size: 23px !important;
        text-align: center;
    }

    // Piscinas
    .main-piscinas {
        .seccion2 {
            .contenido {
                h2 {
                    font-size: 26px;
                }

                p {
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }

    .main-accesorios {
        h2 {
            font-size: 25px;
            margin: 15px 0px;
        }

        .contenedorAccesorios {
            grid-template-columns: repeat(1, 1fr);

            .contenedorImagen {
                .imagenContenedor {
                    &:hover {
                        transform: none;
                        transition: none;
                    }
                }
            }
        }


    }

    // Sucursales

    .main-sucursales {
        .contenedorSecciones {
            .seccionComodoro {
                p {
                    text-align: center;
                    margin: 10px 0px;
                }
            }

            .seccionGaiman {
                p {
                    text-align: center;
                    margin: 10px 0px;

                }
            }

            .seccionNeuquen {
                p {
                    text-align: center;
                    margin: 10px 0px;

                }
            }
        }
    }

    a {

        padding: 10px !important;

    }
}