@media (max-width : 900px) {}



@media (max-width : 567px) {
    footer {
        ul {
            max-width: 100%;
        }
    }

    header {
        nav {
            max-width: 100%;
        }
    }

    .main-index {
        .contenedorSecciones {
            .seccionPiscinas {

                .piscina1,
                .piscina2,
                .piscina3 img {
                    max-width: 100%;
                }

            }
        }
    }


}